/* Container do Carrinho */
.container {
  margin-top: 50px;
}

/* Itens do Carrinho */
#cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.cart-item {
  flex: 0 0 30%;
  max-width: 30%;
  margin-bottom: 20px;
  opacity: 0;
  position: relative;
  transition: opacity 1.2s ease-out, transform 1.6s ease-out;
}

.cart-item.show {
  opacity: 1;
  transform: translate(0, 0);
}

/* Animação para os itens do carrinho */
.cart-item.center {
  transform: translateY(-100px);
}

.cart-item.left {
  transform: translate(-100px, 100px);
}

.cart-item.right {
  transform: translate(100px, 100px);
}

/* Estilos do Card */
.card {
  background-color: black;
  border: 2px solid gold;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2%;
  margin-top: 10%;
}

.card-grid {
  max-width: 44%;
}

.card-img-top {
  max-width: fit-content;
  border-radius: 4px;
}

.card-body {
  margin-left: 5%;
}

.card-title {
  font-size: 1.5rem;
  color: #ffd700; /* Dourado */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-text {
  color: white;
}

.btn {
  margin-top: 1rem;
  border-color: #58ccf3;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: #444472;
  border-color: #453f71;
}

/* Botão Confirmar Compra */
#confirm-purchase-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 4%;
}

#confirm-purchase-btn:hover {
  background-color: #218838;
}

/* Ajustes para o Botão Remover */
.remove-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff4500; /* Laranja */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.remove-btn:hover {
  background-color: #cc3700;
}
