/* Estilo do Banner */
.bg-dark {
  background-color: rgba(0, 0, 0, 0.8); /* Fundo preto com opacidade */
  color: #ffd700; /* Texto dourado */
}

#subtitle {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}


/* Estilo do Card */
#manga-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  background-color: black;
  border: 2px solid gold;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 2%;
  margin-top: 10%;
  justify-content: space-between;
  height: 17rem;
}

.card-grid {
  max-width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  max-width: fit-content;
  width: 40%;
  border-radius: 4px;
}

.card-title {
  font-size: 20px;
  color: #ffd700; /* Título dos mangás em dourado */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.card-text {
  color: white;
  font-size: 15px;
}

.btn {
  border-color: #58ccf3;
  color: white;
  border-radius: 5px;
}

.btn:hover {
  background-color: #444472;
  border-color: #453f71;
}


/* Animação dos cartões */
.manga-card {
  opacity: 0;
  position: relative;
  transition: opacity 1.2s ease-out, transform 1.6s ease-out;
}

.manga-card.center {
  transform: translateY(-100px); /* O cartão central desce de cima */
}

.manga-card.left {
  transform: translate(-100px, 100px); /* O cartão esquerdo vem da diagonal esquerda */
}

.manga-card.right {
  transform: translate(100px, 100px); /* O cartão direito vem da diagonal direita */
}

.manga-card.show {
  opacity: 1;
  transform: translate(0, 0); /* Define a posição final */
}
